*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff");
  font-weight: 600;
}

._lock {
  overflow: hidden;
}

._container {
  max-width: 1320px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  padding: 15px 0px;
  transition: 0.3s ease;
}

.btn__outline {
  color: #03283c;
}

.btn__outline:hover {
  color: #074b70;
}

.btn__global {
  background-color: #03283c;
  color: #ffffff;
}

.btn__global:hover {
  background-color: #074b70;
}

.top {
  text-align: center;
}

.top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123%;
  text-transform: capitalize;
  color: #03283c;
}

.top__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 137.5%;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
}

.global__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #010d14;
}

.global__title:not(:last-child) {
  margin-bottom: 8px;
}

.global__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 0.3px;
  color: #000000;
}

.item-global {
  max-width: 380px;
  border-top: 6px solid #ff6200;
  background-color: #ffffff;
  padding: 35px;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 70px;
}

.header .menu {
  padding: 5px 0px;
  display: flex;
  align-items: center;
}

.header .menu__icon {
  display: none;
}

.header .menu__list {
  display: flex;
  gap: 60px;
  margin-left: 34px;
}

.header .menu__item.sub {
  position: relative;
}

.header .menu__item.sub .submenu {
  padding: 0px -15px;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 25px;
  right: 0px;
  z-index: -1;
  background-color: #03283c;
  transition: 0.3s ease;
}

.header .menu__item.sub .submenu.active {
  z-index: 1;
  opacity: 1;
}

.header .menu__item.sub .submenu__item {
  cursor: pointer;
  padding: 15px;
  transition: 0.2s ease;
}

.header .menu__item.sub .submenu__item:hover {
  background-color: #08699e;
}

.header .menu__item.sub .submenu__link {
  color: #ffffff;
}

.header .menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: #010d14;
  transition: 0.3s ease;
}

.header .menu__link svg {
  transition: 0.3s ease;
}

.header .menu__link.active svg {
  transform: rotate(180deg);
}

.header .menu__link:hover {
  color: #08699e;
  text-decoration: underline;
}

.header .effect {
  display: flex;
  justify-content: flex-end;
}

.header__buttons {
  display: flex;
  margin-left: auto;
  gap: 20px;
}

.header__buttons.active {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__btn {
  padding: 15px 30px;
}

.header__wrapper {
  position: relative;
  padding-bottom: 250px;
  overflow: hidden;
      position: relative;
    max-width: 1400px;
}

.header__wrapper .headerMain__image {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0;
  z-index: -1;
  -o-object-fit: cover;
  object-fit: cover;
}

.header__wrapper .headerMain__image img {
  max-width: 100%;
}

.headerMain__item {
  padding-top: 150px;
  flex: 0 1 430px;
}

.headerMain__beforeSubtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 189%;
  color: #08699e;
  z-index: -1;
  opacity: 0.85;
}

.headerMain__beforeSubtitle:not(:last-child) {
  margin-bottom: 10px;
}

.headerMain__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  color: #03283c;
}

.headerMain__title span {
  font-weight: 700;
  color: #ff6200;
}

.headerMain__title:not(:last-child) {
  margin-bottom: 25px;
}

.headerMain__buttons {
  display: flex;
  gap: 20px;
}

.headerMain__btnPrimary {
  display: flex;
  flex: 1 1 auto;
}

.headrMain__body {
  display: flex;
}

.statistic {
  padding-top: 50px;
  padding-bottom: 50px;
}

.statistic__container {
  max-width: 1000px;
}

.statistic__body {
  display: flex;
  justify-content: space-between;
}

.statistic__item {
  flex: 0 1 315px;
}

.statistic__item:nth-child(2) {
  flex: 0 1 240px;
  position: relative;
}

.statistic__item:nth-child(2)::after {
  content: "";
  position: absolute;
  left: -50px;
  top: 15px;
  bottom: 0;
  width: 2px;
  height: 50px;
  background-color: #000;
}

.statistic__item:nth-child(2)::before {
  content: "";
  position: absolute;
  right: -50px;
  top: 15px;
  bottom: 0;
  width: 2px;
  height: 50px;
  background-color: #000;
}

.statistic__item:nth-child(3) {
  flex: 0 1 251px;
}

.statistic__title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 122%;
  text-transform: capitalize;
  color: #03283c;
  text-align: center;
}

.statistic__title:not(:last-child) {
  margin-bottom: 4px;
}

.statistic__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 121%;
  color: #03283c;
}

.offers__items {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  gap: 30px;
}

.offers__items:not(:last-child) {
  margin-bottom: 50px;
}

.offers__column {
  border: 1px solid #e0e5e2;
}

.offers__image:not(:last-child) {
  margin-bottom: 15px;
}

.offers__content {
  display: flex;
  align-items: center;
}

.offers__subtitle {
  max-width: 250px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #000000;
}

.offers__subtitle:not(:last-child) {
  margin-bottom: 15px;
}

.offers__btn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  background-color: #d6effd;
  float: right;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  transition: 0.3s ease;
}

.offers__btn:hover {
  justify-content: flex-end;
  width: 100%;
}

.offers__btn:hover a {
  transform: rotate(45deg);
  transition: 0.3s ease;
}

.offers__btn:hover .btn__text {
  display: block;
}

.offers .btn__text {
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  padding: 0px 20px;
  display: none;
}

.offers .btn__text a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #000000;
}

.offers .top__title:not(:last-child) {
  margin-bottom: 15px;
}

.offers .top:not(:last-child) {
  margin-bottom: 50px;
}

.offers .content__icon {
  margin: 0px 15px 0px 10px;
}

.offers .content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
}

.offers .investors {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
  padding-bottom: 50px;
}

.section-vision {
  margin-top: 20px;
  background-color: #03283c;
}

.vision__container {
  max-width: 900px;
}

.vision__top {
  padding: 80px 0px;
}

.vision .top__title {
  color: #ffffff;
}

.vision .top__title:not(:last-child) {
  margin-bottom: 8px;
}

.vision .top__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.weare {
  padding: 220px 0px 170px 0px;
  position: relative;
}

.weare__image {
  position: absolute;
  right: 0;
  top: -60px;
  bottom: 0;
  z-index: -1;
}

.weare__image-mob img {
  display: none;
}

.weare__body {
  display: flex;
}

.weare .top {
  text-align: start;
  padding: 200px 0px;
  flex: 0 1 50%;
  max-width: 600px;
}

.weare .top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 83%;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #03283c;
  text-align: start;
}

.weare .top__title:not(:last-child) {
  margin-bottom: 15px;
}

.weare .top__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
  text-align: start;
  color: #000000;
}

.what {
  background-color: #03283c;
}

.what__top:not(:last-child) {
  padding-bottom: 60px;
}

.what__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 80px;
}

.what .top {
  padding-top: 80px;
}

.what .top__title {
  color: #ffffff;
}

.what .top__title:not(:last-child) {
  padding-bottom: 15px;
}

.what .top__subtitle {
  color: #ffffff;
}

.why {
  padding: 60px 0px;
  position: relative;
  overflow: hidden;
}

.why__image {
  position: absolute;
  right: 0;
  top: 0px;
  bottom: 0;
}

.why__body {
  display: flex;
}

.why__button {
  display: flex;
}

.why__image-mob img {
  display: none;
}

.why .top {
  text-align: start;
  padding: 130px 0px 170px 0px;
  flex: 0 1 50%;
}

.why .top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 83%;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  color: #03283c;
  text-align: start;
}

.why .top__title:not(:last-child) {
  margin-bottom: 15px;
}

.why .top__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 138%;
  text-align: start;
  color: #000000;
}

.why .top__subtitle:not(:last-child) {
  margin-bottom: 15px;
}

.why .btn {
  padding: 15px 30px;
}

.why .btn__global {
  background: #ff6200;
}

.why .btn__global:hover {
  background: #cc4e00;
}

.atlas {
  background-color: #03283c;
}

.atlas_items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 80px;
}

.atlas__item {
  max-width: 300px;
  padding: 0px 30px 13px 30px;
}

.atlas__icon {
  padding: 35px 0px;
}

.atlas .top {
  padding: 80px 0px;
}

.atlas .top__title {
  color: #ffffff;
  text-align: start;
}

.atlas .top__title:not(:last-child) {
  margin-bottom: 15px;
}

.atlas .top__subtitle {
  max-width: 610px;
  color: #ffffff;
  text-align: start;
}

.ready__button {
  display: flex;
  justify-content: center;
}

.ready .top {
  padding: 80px 0px 40px 0px;
}

.ready .top__title:not(:last-child) {
  margin-bottom: 15px;
}

.ready .top__subtitle:not(:last-child) {
  margin-bottom: 50px;
}

.ready .btn {
  width: 450px;
}

.team {
  padding: 156px 0px;
}

.team__container {
  max-width: 1125px;
}

.team__body {
  padding: 30px;
  border: 3px solid #ff6200;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
}

.team__top:not(:last-child) {
  padding: 0px 0px 45px 0px;
}

.team .top__title:not(:last-child) {
  margin-bottom: 10px;
}

.team .top__subtitle {
  font-size: 18px;
}

.swiper__arrows {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.swiper__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.swiper-wrapper {
  display: flex;
}

.swiper-wrapper:not(:last-child) {
  margin-bottom: 45px;
}

.slide {
  text-align: center;
}

.slide__img:not(:last-child) {
  margin-bottom: 20px;
}

.slide__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  color: #03283c;
}

.slide__title:not(:last-child) {
  margin-bottom: 10px;
}

.slide__subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  letter-spacing: 0.3px;
  color: #000000;
}

.slide__subtitle:not(:last-child) {
  margin-bottom: 10px;
}

.slide__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.3px;
  color: #000000;
}

.section-newsletter {
  position: relative;
}

.newsletter__text {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.newsletter .top {
  padding: 205px 0px 205px 0px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.newsletter .top__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 175%;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.newsletter .top__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 138%;
  text-align: center;
  letter-spacing: 0.3px;
  color: #ffffff;
}

.newsletter .top__subtitle:not(:last-child) {
  margin-bottom: 30px;
}

.newsletter .form {
  width: 650px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.newsletter .form__input {
  border: 1px solid #d3dad7;
  display: flex;
  width: 100%;
  padding: 16px 20px;
  outline: none;
  color: #94a69d;
}

.newsletter .form__input:focus {
  border: 1px solid #03283c;
}

.newsletter .form:not(:last-child) {
  margin-bottom: 16px;
}

.newsletter .btn__global {
  cursor: pointer;
  background: #ff6200;
  border: none;
  padding: 15px 30px;
}

.newsletter .btn__global:hover {
  background: #cc4e00;
}

.footer {
  background-color: #03283c;
}

.footer_main {
  padding: 70px 0px 35px 0px;
  opacity: 0.5;
  border-bottom: 1px solid #d3dad7;
}

.footer__row {
  display: flex;
  gap: 85px;
}

.footer__label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.footer__label:not(:last-child) {
  margin-bottom: 20px;
}

.footer__bottom {
  padding: 35px 0px 70px 0px;
}

.footer__copy {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #d3dad7;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer .menu-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .menu-footer__item.language__item {
  margin-top: 42px;
}

.footer .menu-footer__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  text-align: center;
  color: #b0bdb7;
}

.footer .menu-footer__link:hover {
  color: #ff6200;
  transition: 0.3s ease;
}

.footer .social {
  display: flex;
  align-items: center;
  gap: 34px;
}

html,
body {
  font-family: Montserrat;
  font-weight: 700;
  color: #03283c;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

@media (max-width: 1420px) {
  .weare__image img {
    max-width: 700px;
  }

  .weare .top {
    padding: 100px 0px;
  }

  .why .top {
    padding: 100px 0px;
  }
}

@media (max-width: 1350px) {
  .why__image img {
    max-width: 600px;
  }

  .newsletter .top {
    padding: 150px 0px 150px 0px;
  }

  .footer_main {
    padding: 70px 15px 35px 15px;
  }
}

@media (max-width: 1330px) {
  .offers__items {
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
  }
}

@media (max-width: 1290px) {
  .atlas_items {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .atlas__item {
    max-width: unset;
  }

  .atlas .item-global {
    max-width: unset;
    padding: 0px 30px 13px 30px;
  }
}

@media (max-width: 1250px) {
  .headerMain__beforeSubtitle {
    text-align: center;
  }

  .headerMain__title {
    text-align: center;
    font-size: 43px;
  }

  .wrapper__rgb {
    padding: 10px;
    border-radius: 20px;
    background: rgba(151, 161, 161, 0.5098039216);
  }
}

@media (max-width: 1200px) {
  .what__items {
    gap: 40px;
  }

  .why__image img {
    max-width: 350px;
  }

  .why .top__title {
    font-size: 42px;
  }
}

@media (max-width: 1185px) {
  .header .menu__list {
    gap: 30px;
  }

  .header .menu__item {
    padding: 0px;
  }
}

@media (max-width: 1170px) {
  .header__logo img {
    max-width: 200px;
  }
}

@media (max-width: 1050px) {
  .item-global {
    padding: 30px;
    max-width: unset;
  }

  .header .menu__list {
    gap: 15px;
    margin-left: 15px;
  }

  .header__btn {
    padding: 15px 15px;
  }

  .weare__image img {
    max-width: 500px;
  }

  .weare .top {
    padding: 0px;
  }

  .what__items {
    gap: 15px;
  }

  .why .top {
    padding: 0px;
  }
}

@media (max-width: 991.98px) {
  .header {
    position: fixed;
    background-color: rgba(229, 229, 229, 0.6392156863);
  }

  .header__container {
    justify-content: space-between;
    min-height: 55px;
  }

  .header .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header .menu__icon .span,
  .header .menu__icon::before,
  .header .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #03283c;
  }

  .header .menu__icon::before,
  .header .menu__icon::after {
    content: "";
  }

  .header .menu__icon::before {
    top: 0;
  }

  .header .menu__icon::after {
    bottom: 0;
  }

  .header .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }

  .header .menu__icon._active::before {
    background-color: #ffffff;
    top: 50%;
    transform: rotate(-45deg) translate(0px, -70%);
  }

  .header .menu__icon._active::after {
    background-color: #ffffff;
    bottom: 50%;
    transform: rotate(40deg) translate(0px, 30%);
  }

  .header .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #03283c;
    padding: 100px 30px 30px 30px;
    transform: translate(-100%, 0px);
    overflow: auto;
    z-index: 1;
  }

  .header .menu__body._active:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header .menu__body._active {
    transform: translate(0px, 0px);
    transition: all 0.2s;
  }

  .header .menu__list {
    gap: 30px;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
  }

  .header .menu__item.sub .submenu {
    text-align: center;
    font-size: 20px;
    top: 40px;
  }

  .header .menu__link.active svg path {
    fill: #ff6200;
  }

  .header .menu__link {
    font-size: 20px;
    color: #ffffff;
  }

  .header .menu__link svg path {
    fill: #ffffff;
  }

  .header .menu__link:hover {
    color: #ff6200;
    text-decoration: underline;
  }

  .header__buttons {
    display: none;
  }

  .header__buttons.active {
    position: fixed;
  }

  .header__btn {
    display: flex;
    flex: 0 1 50%;
    background-color: #ff6200;
    color: #ffffff;
  }

  .statistic__item:nth-child(2)::after {
    left: -30px;
  }

  .statistic__item:nth-child(2)::before {
    right: -30px;
  }

  .statistic__title {
    font-size: 30px;
  }

  .statistic__subtitle {
    font-size: 20px;
  }

  .offers__items {
    grid-template-columns: repeat(2, 0fr);
  }

  .what__items {
    grid-template-columns: repeat(2, 1fr);
  }

  .atlas__icon {
    padding: 15px 0px;
  }

  .team {
    padding: 80px 0px;
  }

  .slide__img img {
    max-width: 100px;
    width: 100%;
  }

  .newsletter .top {
    padding: 80px 0px 80px 0px;
  }
}

@media (max-width: 865px) {
  .statistic__item:nth-child(2)::after {
    left: 0px;
  }

  .statistic__item:nth-child(2)::before {
    right: 0px;
  }
}

@media (max-width: 767.98px) {
  .headerMain__item {
    flex: 0 1 100%;
    padding-top: 120px;
  }

  .headerMain__btnSecondary {
    flex: 1 1 auto;
    background-color: #03283c;
    color: #ffffff;
  }

  .statistic__body {
    flex-wrap: wrap;
    gap: 40px;
  }

  .statistic__item {
    flex: 0 1 100%;
  }

  .statistic__item:nth-child(2) {
    flex: 0 1 100%;
  }

  .statistic__item:nth-child(2)::after {
    display: none;
  }

  .statistic__item:nth-child(2)::before {
    display: none;
  }

  .statistic__item:nth-child(3) {
    flex: 0 1 100%;
  }

  .weare {
    padding: 35px 0px 35px 0px;
  }

  .weare__image img {
    display: none;
  }

  .weare__image-mob img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }

  .weare__body {
    flex-direction: column;
  }

  .weare .top {
    text-align: center;
    flex: 0 1 100%;
    max-width: unset;
  }

  .weare .top:not(:last-child) {
    padding-bottom: 15px;
  }

  .weare .top__title {
    font-size: 38px;
    text-align: center;
  }

  .what__top:not(:last-child) {
    padding-bottom: 35px;
  }

  .what__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .what__items {
    padding-bottom: 35px;
  }

  .what .top {
    padding-top: 15px;
  }

  .what .top__title {
    font-size: 38px;
  }

  .why {
    padding: 35px 0px;
  }

  .why__image img {
    display: none;
  }

  .why__body {
    flex-direction: column;
  }

  .why__image-mob img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
  }

  .why .top {
    text-align: center;
    flex: 0 1 100%;
  }

  .why .top:not(:last-child) {
    padding-bottom: 15px;
  }

  .why .top__title {
    line-height: 83%;
    font-size: 38px;
    text-align: center;
  }

  .atlas .top__title {
    font-size: 37px;
  }

  .ready .top {
    padding: 35px 0px 0px 0px;
  }

  .team {
    padding: 35px 0px;
  }

  .team__top:not(:last-child) {
    padding: 0px 0px 25px 0px;
  }

  .team .top__subtitle {
    font-size: 15px;
  }

  .newsletter .top {
    padding: 35px 0px 35px 0px;
  }

  .newsletter .form {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .offers__items {
    grid-template-columns: repeat(1, 1fr);
  }

  .offers__items:not(:last-child) {
    margin-bottom: 35px;
  }

  .offers__image img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .offers__subtitle {
    max-width: unset;
  }

  .offers .investors {
    padding-bottom: 35px;
  }
}

@media (max-width: 576px) {
  .header__wrapper {
    position: unset;
    padding-bottom: 180px;
  }

  .section-vision {
    margin-top: 0px;
  }

  .vision__top {
    padding: 35px 0px;
  }

  .vision .top__title {
    font-size: 38px;
  }

  .vision .top__subtitle {
    font-size: 20px;
  }

  .atlas_items {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding-bottom: 35px;
  }

  .atlas .top {
    padding: 35px 0px;
  }

  .atlas .top__title {
    text-align: center;
  }

  .ready .top__title {
    font-size: 38px;
  }

  .ready .top__subtitle:not(:last-child) {
    margin-bottom: 15px;
  }

  .footer__row {
    gap: 50px;
  }
}

@media (max-width: 476px) {
  .btn__outline {
    font-size: 16px;
  }

  .btn__global {
    font-size: 16px;
  }

  .header__buttons {
    gap: 10px;
  }

  .header__buttons.active {
    flex-wrap: wrap;
  }

  .header__btn {
    flex: 0 1 100%;
  }

  .headerMain__item {
    padding-top: 110px;
  }

  .headerMain__beforeSubtitle {
    font-size: 16px;
  }

  .headerMain__title:not(:last-child) {
    margin-bottom: 15px;
  }

  .headerMain__title {
    font-size: 30px;
  }

  .headerMain__buttons {
    flex-direction: column;
    gap: 10px;
  }

  .offers__items {
    gap: 15px;
  }

  .offers__btn {
    width: 100%;
    justify-content: flex-end;
  }

  .offers .btn__text {
    display: block;
  }

  .offers .top__title {
    font-size: 38px;
  }

  .offers .top:not(:last-child) {
    margin-bottom: 35px;
  }

  .vision__top {
    padding: 20px 0px;
  }

  .why .btn {
    width: 100%;
  }

  .team .top__title {
    font-size: 38px;
  }

  .team .top__title:not(:last-child) {
    margin-bottom: 5px;
  }

  .swiper-wrapper:not(:last-child) {
    margin-bottom: 15px;
  }

  .slide__img:not(:last-child) {
    margin-bottom: 10px;
  }

  .newsletter .top {
    padding: 10px 0px 20px 0px;
  }

  .newsletter .top__title {
    line-height: 140%;
  }

  .newsletter .top__subtitle:not(:last-child) {
    margin-bottom: 15px;
  }

  .newsletter .form {
    flex-wrap: wrap;
  }

  .newsletter .form:not(:last-child) {
    margin-bottom: 8px;
  }

  .newsletter .btn__global {
    flex-wrap: wrap;
    width: 100%;
  }

  .footer_main {
    padding: 35px 15px;
  }

  .footer__row {
    gap: 40px;
    flex-wrap: wrap;
  }

  .footer__bottom {
    padding: 35px 0px 35px 0px;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer .social__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .statistic {
    padding-top: 0px;
  }
}

@media (max-width: 430px) {
  .header__wrapper {
    padding-bottom: 100px;
  }
}

@media (max-width: 380px) {
  .headerMain__item {
    padding-top: 60px;
  }
}

@media (max-width: 345px) {
  .header__wrapper {
    padding-bottom: 35px;
  }
}
