@font-face {
  font-family: "Montserrat";
  src: url(../css/fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "montserrat_regular";
  src: url(../css/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../css/fonts/Roboto/Roboto-Light.ttf);
}
