@import "../base/reset";
@import "../css/fonts";
@import "../base/mixin";

$color-white: #ffffff;

.html,
.body {
  height: 100%;
}
// Wrapper
.wrapper {
  position: relative;
  min-height: 100%;
  @include flex-box;
  overflow: hidden;
}
// header
.header {
  display: flex;
  justify-content: center;
  // image header
  .img_header {
    position: relative;
    width: 100%;
    @media screen and (max-width: 1240px) {
      display: none;
    }
  }
  // image header 768px
  .image_768 {
    display: none;
    @media screen and (max-width: 1240px) {
      display: block;
      @media screen and (max-width: 320px) {
        display: none;
      }
    }
  }
  // image header 320px
  .image_320 {
    display: none;
    @media screen and (max-width: 320px) {
      display: block;
    }
  }
  // container header
  .container_header {
    width: 950px;
    position: absolute;
    @media screen and (max-width: 1240px) {
      width: 60%;
    }
    @media screen and (max-width: 768px) {
      width: 90%;
    }
    @media screen and (max-width: 320px) {
      width: 100%;
    }
    // nav menu
    .nav_menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 118px;
      @media screen and (max-width: 570px) {
        margin-top: 20px;
        flex-direction: column-reverse;
        height: 170px;
      }
      @media screen and (max-width: 320px) {
        margin-top: 10px;
        flex-direction: column-reverse;
        height: 165px;
      }
      // h1 header
      .h1_header {
        padding-left: 4px;
        @include font-list("Montserrat", 20px, #ffffff);
        font-weight: bold;
        line-height: 24px;
        @media screen and (max-width: 1240px) {
          margin-right: 0px;
        }
        @media screen and (max-width: 570px) {
          font-size: 30px;
        }
      }
      // links header
      .links_header {
        display: flex;
        align-items: center;
        margin-right: 20px;
        @media screen and (max-width: 570px) {
          margin-right: 0px;
        }
        @media screen and (max-width: 320px) {
          margin-right: 0px;
        }
        .first_link {
          padding-right: 20px;
          @include font-list("Montserrat", 14px, #ffffff);
          line-height: 17px;
          @media screen and (max-width: 570px) {
            padding-right: 60px;
          }
        }
        // border sign up
        .border {
          margin-right: 25px;
          @include flex-center;
          border: 2px solid #ffffff;
          box-sizing: border-box;
          border-radius: 40px;
          @include size(90px, 36px);
          @media screen and (max-width: 1240px) {
            margin-right: 0px;
          }
          .secondLink {
            @include font-list("Montserrat", 14px, #ffffff);
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
          }
        }
      }
    }
  }
  // block text header
  .text_header {
    display: flex;
    align-items: center;
    position: absolute;
    @include size(470px, 700px);
    @media screen and (max-width: 570px) {
      width: 100%;
      justify-content: center;
    }
    @media screen and (max-width: 320px) {
      @include size(80%, 539px);
    }
    .box_text {
      @include flex-box;
      @include size(470px, 252px);
      justify-content: space-between;
      @media screen and (max-width: 320px) {
        margin-top: 45px;
        @include size(100%, 200px);
        justify-content: space-evenly;
      }
      // title header
      .title_header {
        @include font-list("Montserrat", 52px, #ffffff);
        font-weight: bold;
        line-height: 63px;
        text-align: center;
        @media screen and (max-width: 570px) {
          font-size: 29px;
        }
        @media screen and (max-width: 320px) {
          font-size: 23px;
        }
        @media screen and (max-width: 320px) {
          font-size: 28px;
          line-height: 37px;
        }
      }
      // subtitle header
      .subtitle_header {
        @include font-list("Roboto", 24px, #f7f3f2);
        font-style: normal;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        @media screen and (max-width: 320px) {
          font-size: 18px;
        }
      }
      // button header
      .button_header {
        @include size(225px, 40px);
        background: #ff4e50;
        border-radius: 40px;
        &:hover {
          background-color: #ee3134;
          transition-duration: 0.4s;
        }
        .a_button_header {
          @include flex-center;
          @include size(225px, 40px);
          @include font-list("Montserrat", 14px, #ffffff);
          font-weight: bold;
          line-height: 17px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}

// section one
.section_one {
  margin-top: 90px;
  @include size(941px, 480px);
  @include flex-box;
  @media screen and (max-width: 769px) {
    height: auto;
  }
  @media screen and (max-width: 496px) {
    margin-top: 40px;
  }
  // h1 section one
  .h1_one {
    @include font-list("Montserrat", 26px, #444444);
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
  }
  // block image one
  .block_image_one {
    display: flex;
    margin: 34px 20px 0px 0px;
    @media screen and (max-width: 769px) {
      flex-direction: column;
    }

    .image_one {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-left: 20px;
      @media screen and (max-width: 769px) {
        align-items: center;
      }
      @media screen and (max-width: 570px) {
        align-items: flex-end;
      }

      .imgOne {
        @media screen and (max-width: 1240px) {
          display: none;
        }
        @media screen and (max-width: 769px) {
          display: block;
          width: 500px;
          margin-top: 15px;
        }
        @media screen and (max-width: 570px) {
          display: none;
        }
      }

      .image_1240px {
        display: none;
        @media screen and (max-width: 1240px) {
          display: block;
        }

        @media screen and (max-width: 769px) {
          display: none;
        }
      }
      .image_320px {
        display: none;
        @media screen and (max-width: 570px) {
          display: block;
          margin-top: 15px;
        }
      }
      // text in images
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
        @include size(250px, 160px);
        overflow: hidden;
        position: absolute;
        @media screen and (max-width: 1240px) {
          width: 17%;
        }
        @media screen and (max-width: 769px) {
          width: 60%;
        }
        @media screen and (max-width: 570px) {
          width: 45%;
        }
        // button
        .btn {
          @include flex-center;
          @include size(70px, 20px);

          background: #ff4e50;
          border-radius: 40px;
          @media screen and (max-width: 769px) {
            @include size(140px, 40px);
          }
          @media screen and (max-width: 570px) {
            @include size(100px, 20px);
          }
          .a_one {
            @include font-list("Montserrat", 10px, #ffffff);
            font-style: normal;
            font-weight: normal;
            line-height: 12px;
            display: flex;
            align-items: flex-end;
            letter-spacing: 2px;
            @media screen and (max-width: 769px) {
              font-size: 15px;
            }
            @media screen and (max-width: 570px) {
              font-size: 10px;
            }
          }
        }
        .title_one {
          @include font-list("Montserrat", 24px, #ffffff);
          font-style: normal;
          font-weight: bold;
          line-height: 26px;
          @media screen and (max-width: 769px) {
            font-size: 26px;
          }
          @media screen and (max-width: 570px) {
            font-size: 23px;
          }
        }
        .subtitle_one {
          @include font-list("Roboto", 14px, #e3e3e3);
          font-style: normal;
          font-weight: 300;
          line-height: 14px;
          @media screen and (max-width: 769px) {
            font-size: 18px;
            line-height: 20px;
          }
          @media screen and (max-width: 570px) {
            font-size: 13px;
          }
        }
      }
      .text2 {
        @extend .text;
        justify-content: space-evenly;
        margin-bottom: 5px;
        .title_one {
          margin-top: 8px;
        }
      }
    }
  }
}

// section two
.section_two {
  margin-top: 75px;
  @include size(941px, 366px);
  @include flex-box;
  @media screen and (max-width: 920px) {
    height: 650px;
  }
  @media screen and (max-width: 504px) {
    height: 1070px;
  }
  @media screen and (max-width: 496px) {
    margin-top: 45px;
  }
  // h1 section two
  .h1_two {
    @include font-list("Montserrat", 26px, #444444);
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    @media screen and (max-width: 504px) {
      width: 40%;
    }
  }

  .block_image_two {
    @include size(941px, 224px);
    margin-top: 34px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 920px) {
      height: 475px;
    }
    @media screen and (max-width: 504px) {
      height: 917px;
    }
    .image_two {
      @include size(838px, 205px);
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 920px) {
        flex-direction: column;
        align-items: center;
        height: 360px;
      }
      @media screen and (max-width: 504px) {
        height: 815px;
      }

      .one_block {
        display: flex;
        width: 357px;
        justify-content: space-between;
        @media screen and (max-width: 504px) {
          flex-direction: column;
          align-items: center;
          height: 344px;
        }
      }

      .two_block {
        display: flex;
        width: 358px;
        justify-content: space-between;
        @media screen and (max-width: 504px) {
          flex-direction: column;
          align-items: center;
          height: 357px;
        }
      }

      .img_1 {
        @include size(116px, 120px);

        .icon_block {
          @include flex-center;
          position: absolute;
          // margin-top: -37px;
          // margin-left: 85px;
          margin: -37px 85px;
          @include size(39px, 39px);
          background-color: #ff4e50;
          border: 4px solid white;
          border-radius: 50%;
        }
        .iconTwo {
          background-color: #19d4ca;
        }
        .iconThree {
          background-color: #ffa710;
        }
        .iconFour {
          background-color: #667df3;
        }
        .one {
          border-radius: 50%;
        }
        .text_section_two {
          @include flex-box;
          margin-top: 17px;

          .h2_section_two {
            @include font-list("Montserrat", 14px, #444444);
            font-weight: bold;
            line-height: 17px;
            display: flex;
            text-align: center;
          }
          .p_section_two {
            @include font-list("Roboto", 14px, #666666);
            margin-top: 22px;
            width: 190px;
            font-family: "Roboto";
            font-weight: 300;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
          }
          .h2Last {
            width: 140px;
          }
          .pTwo {
            width: 240px;
          }
          .pThree {
            width: 225px;
            margin: 27px 11px;
            
          }
          .pFour {
            width: 200px;
            margin-top: 27px;
          }
        }
      }
    }
  }
  // button section two
  .btn_sectionTwo {
    cursor: pointer;
    @include size(180px, 40px);
    padding: 5px 12px ;
   
    margin-top: 36px;
    border: 2px solid #ff4e50;
    box-sizing: border-box;
    background-color: white;
    border-radius: 40px;
    @media screen and (max-width: 504px) {
      width: 34%;
    }
    &:hover {
      transition: 0.3s;
      background-color: #ff4e50;
      color: white;
    }
  }
  // button item
  .btnItem {
    @include font-list("Montserrat", 14px, #ff4e50);
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
}
// section three
.section_three {
  @include size(940px, 1127px);
  @include flex-box;
  margin-top: 90px;
  @media screen and (max-width: 760px) {
    height: 1073px;
  }
  @media screen and (max-width: 496px) {
    margin-top: 40px;
  }
  // h1 three
  .h1_three {
    @include font-list("Montserrat", 26px, #444444);
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    @media screen and (max-width: 496px) {
      width: 34%;
    }
  }
// images section three
  .images_section_three {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 950px) {
      width: 80%;
    }
    @media screen and (max-width: 760px) {
      flex-direction: column;
    }
    .image_text {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 760px) {
        margin-top: 10px;
      }
      .h2_section-three {
        @include font-list("Montserrat", 22px, #ffffff);
        position: absolute;
        font-style: normal;
        font-weight: bold;
        line-height: 27px;
        display: flex;
        text-align: center;
       
      }
    }
    .image {
      margin-top: 20px;
    }
    .img320 {
      display: none;
      @media screen and (max-width: 760px) {
        display: block;
      }
    }
    .block {
      display: block;
      @media screen and (max-width: 950px) {
        display: none;
      }
    }
    .none {
      display: none;
      @media screen and (max-width: 950px) {
        display: block;
      }
      @media screen and (max-width: 760px) {
        display: none;
      }
    }
    .h2-extreme {
      width: 13%;
      @media screen and (max-width: 760px) {
        width: 43%;
      }
    }
    .h2-margin {
      margin-top: 20px;
    }
  }
}

// section four
.section_four {
  @include size(940px, 353px);
  @include flex-box;
  @media screen and (max-width: 496px) {
    height: 300px;
  }
  // h1 section four
  .h1_four {
    margin-top: 90px;
    @include font-list("Montserrat", 26px, #444444);
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    @media screen and (max-width: 496px) {
      margin-top: 0px;
      width: 30%;
    }
  }
  // h2 section four
  .h2_section_four {
    margin-top: 52px;
    @include font-list("Roboto", 18px, #666666);  
    font-weight: 300;   
    line-height: 14px;
    text-align: center;   
    @media screen and (max-width: 496px) {
      font-size: 21px;
      margin-top: 30px;
    }
  }
  // block input
  .block_input {
    @include size(485px,40px);
   
    margin-top: 25px;
    @media screen and (max-width: 496px) {
      @include flex-box;
      height: 100px;
    }
    .inputText {
      @include size(299px,40px);
      font-size: 15px;
      padding:3px 12px ;
      border-radius: 5px;
      border: 1px solid lightgrey;
      @media screen and (max-width: 496px) {
        width: 324px;
      }
    }
    // button input
    .btn_input {
      cursor: pointer;
      margin-left: 7px;
      @include size(172px,40px);
      background: #ff4e50;
      border-radius: 40px;
      border: none;
      &:hover {
        transition: 0.3s;
        background-color: #ee3134;
      }
      @media screen and (max-width: 496px) {
        margin-top: 20px;
        width: 324px;
      }
    }
    .font {
      @include font-list("Montserrat", 14px, #ffffff);  
      font-style: normal;
      font-weight: bold;
      line-height: 17px;
      
    }
  }
}
// foooter
.footer {
  padding: 0 10px;
  @include size(100%,224px);
  border-top: 2px solid #ff4e50;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media screen and (max-width: 496px) {
    height: 400px;
  }
  // block with links
  .block_links {
    width: 940px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 496px) {
      @include flex-box;
      justify-content: space-evenly;
    }
    // h1 last
    .h1_last {
      margin-top: 38px;
      font-size: 17px;
      color: red;
      @media screen and (max-width: 496px) {
        font-size: 24px;
      }
    }
    // links
    .links {
      margin-top: 40px;
      @include size(467px,197px);
      display: flex;
      @media screen and (max-width: 769px) {
        justify-content: space-evenly;
      }
      @media screen and (max-width: 496px) {
        margin-top: 0;
        flex-direction: column;
        align-items: center;
      }
// mobile title
      .mobile {
        @include font-list("Montserrat", 18px, #444444);  
        font-style: normal;
        font-weight: bold;
        line-height: 17px;
        display: none;
        @media screen and (max-width: 496px) {
          display: block;
        }
      }

      .ul_company {
        @include font-list("Montserrat", 14px, #444444);  
        font-style: normal;
        font-weight: bold;
        line-height: 17px;
        
        @media screen and (max-width: 496px) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-evenly;
          width: 327px;
          .h2_company {
            display: none;
          }
        }
// li
        .li {
          cursor: pointer;
          @include font-list("Roboto", 14px, #999999);  
          margin-top: 15px;
          font-style: normal;
          font-weight: 300;
          line-height: 12px;
          @media screen and (max-width: 496px) {
            width: 61px;
            font-size: 19px;
          }
        }
        .liTerms {
          @media screen and (max-width: 496px) {
            width: 158px;
            text-align: center;
          }
        }
      }
    }

    .ul_partners {
      margin-left: 125px;
      @include font-list("Montserrat", 14px, #444444);  
      font-style: normal;
      font-weight: bold;
      line-height: 17px;
      @media screen and (max-width: 496px) {
        margin-top: 20px;
        margin-left: 0;
        font-size: 18px;
      }
    }
    h6 {
      @include font-list("Montserrat", 10px, #cccccc);  
      font-style: normal;
      font-weight: bold;
      line-height: 12px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 1px;
    }
    .logo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 40px;
      @media screen and (max-width: 496px) {
        margin-top: 0;
      }

      .logoLast {
        margin-top: 5px;
      }
    }
  }
}
