@font-face {
    font-family: "GothicA1-Bold";
    src: url(../css/fonts/GothicA1-Bold.ttf);

}

@font-face {
    font-family: "GothicA1-Regular";
    src: url(../css/fonts/GothicA1-Regular.ttf);

}
