* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

._lock {
  overflow: hidden;
}

._container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.text__title {
  font-family: "Inter";
  font-weight: 800;
  font-size: 48px;
  line-height: 133%;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}

.text__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

.header {
  padding: 41px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__item {
  position: relative;
  margin-right: 33px;
}

.header .menu__item:first-child {
  margin: 0px 135px 0px 65px;
}

.header .menu__item:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 70%;
  height: 2px;
  background: #b00000;
  border-radius: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}

.header .menu__link {
  font-size: 15px;
  line-height: 146.5%;
  color: #000000;
}

.header .menu__icon {
  display: none;
}

.header .effect {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 10px;
}

.header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header .contact__account {
  font-size: 15px;
  line-height: 146.5%;
  color: #000000;
  padding-right: 30px;
  border-right: 1px solid #dad8d8;
}

.header .contact__account:hover {
  color: #b00000;
}

.header .contact__body {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .contact__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 94%;
  color: #000000;
  gap: 7px;
}

.header .contact__tel:hover {
  color: #b00000;
}

.section__tabs {
  padding-top: 60px;
}

.section__tabs .tabs {
  width: 100%;
}

.section__tabs .tabs__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.section__tabs .tabs__header::after {
  content: "";
  position: absolute;
  left: 5px;
  bottom: -10px;
  width: 242px;
  height: 1px;
  background-color: #e5e5e5;
}

.section__tabs .tabs__header-item {
  cursor: pointer;
  font-size: 15px;
  line-height: 146.5%;
  color: rgba(214, 212, 212, 0.88);
  position: relative;
}

.section__tabs .tabs__header-item.active {
  color: #b00000;
}

.section__tabs .tabs__header-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 70%;
  height: 2px;
  z-index: 9;
  background: #b00000;
  border-radius: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}

.section__tabs .tabs__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.section__tabs .tabs__content-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fade 0.3s;
          animation: fade 0.3s;
}

.section__tabs .tabs__content-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 121%;
  color: #2e2e2e;
}

.section__tabs .tabs__content-title:not(:last-child) {
  margin-bottom: 35px;
}

.section__tabs .tabs__content-subtitle {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.05em;
  color: #808080;
}

.section__tabs .tabs__content-subtitle:not(:last-child) {
  margin-bottom: 60px;
}

.section__tabs .tabs__content__buttons {
  padding-bottom: 40px;
}

.section__tabs .tabs__image {
  position: relative;
}

.section__tabs .tabs__image .decor-1,
.section__tabs .tabs__image .decor-2,
.section__tabs .tabs__image .decor-3 {
  position: absolute;
}

.section__tabs .tabs__image .decor-1 {
  left: -26px;
  bottom: 161px;
}

.section__tabs .tabs__image .decor-2 {
  top: 63px;
  right: -25px;
}

.section__tabs .tabs__image .decor-3 {
  bottom: 41px;
  right: -25px;
}

.section__tabs .tabs .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.5px;
}

.section__tabs .tabs .btn__first {
  padding: 12px 14px;
  color: #ffffff;
  background: #b00000;
  -webkit-box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
          box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
  border-radius: 8px;
}

.section__tabs .tabs .btn__first:hover {
  background: #da0505;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.section__tabs .tabs .btn__outline {
  padding: 12px 18px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
}

.section__tabs .tabs .btn__outline:hover {
  background: #b00000;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border: 1px solid #b00000;
}

.section__cloud {
  padding-top: 80px;
  padding-bottom: 60px;
}

.cloud__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cloud__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.cloud__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 55px;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.cloud__item:last-child.cloud__item-cloud2 {
  row-gap: 0px;
}

.cloud__content {
  margin-bottom: 20px;
}

.cloud__item-image {
  min-width: 165px;
  text-align: end;
}

.cloud .text__title:not(:last-child) {
  margin-bottom: 40px;
}

.cloud .text__subtitle.subtitle-cloud2 {
  max-width: 445px;
}

.section__services {
  padding: 60px 0px 65px 0px;
}

.services__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.services .item__services {
  text-align: center;
}

.services .item__services-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.services .item__services-title:not(:last-child) {
  margin-bottom: 4px;
}

.services .item__services-subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.section__packages {
  padding-top: 65px;
}

.packages__pricing .tabs {
  width: 100%;
  margin-top: 70px;
}

.packages__pricing .tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  max-width: 856px;
  margin: 0 auto;
}

.packages__pricing .tabs__header-item {
  font-weight: 600;
  font-size: 30px;
  line-height: 133%;
  text-align: center;
  color: #000000;
  cursor: pointer;
  position: relative;
}

.packages__pricing .tabs__header-item.active {
  color: red;
}

.packages__pricing .tabs__content {
  margin-top: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1180px;
}

.packages__pricing .tabs__content-item {
  gap: 100px;
  -webkit-animation: fade 0.7s;
          animation: fade 0.7s;
}

.packages__pricing .tabs__content-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 299px;
          flex: 0 1 299px;
  background: #ffffff;
  border: 1.5px solid #c4c4c4;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 34px 35px 48px 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.packages__pricing .tabs .box__content-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 89%;
  color: #000000;
}

.packages__pricing .tabs .box__content-name:not(:last-child) {
  margin-bottom: 11px;
}

.packages__pricing .tabs .box__content-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
  max-width: 237px;
}

.packages__pricing .tabs .box__content-text:not(:last-child) {
  margin-bottom: 28px;
}

.packages__pricing .tabs .box__content-price {
  font-weight: 600;
  font-size: 42px;
  line-height: 76%;
  color: #000000;
}

.packages__pricing .tabs .box__content-price:not(:last-child) {
  margin-bottom: 11px;
}

.packages__pricing .tabs .box__content-period {
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
}

.packages__pricing .tabs .box__content-period:not(:last-child) {
  margin-bottom: 35px;
}

.packages__pricing .tabs .box__content-btn {
  display: inline-block;
  padding: 9px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 229%;
  text-align: center;
  color: #000000;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 12px;
}

.packages__pricing .tabs .box__content-btn:not(:last-child) {
  margin-bottom: 35px;
}

.packages__pricing .tabs .box__content-btn:hover {
  background: #b00000;
  color: #fff;
  border: 2px solid #b00000;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.packages__pricing .tabs .box__content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.packages__pricing .tabs .list__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.packages__pricing .tabs .list__content-item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.packages__pricing .tabs .list__content-item-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #808080;
}

.packages__pricing .progress {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 4px;
  background-color: #e5e4e1;
  z-index: 1;
}

.packages__pricing .progress__succes {
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #b00000;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.packages__pricing .progress__succes.active {
  color: red;
  left: unset;
}

.packages .header__packages {
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}

.packages .header__packages-item {
  padding-bottom: 70px;
}

.packages .header__packages-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.packages .header__packages-title:not(:last-child) {
  margin-bottom: 38px;
}

.packages .header__packages-subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  text-align: center;
  color: #000000;
}

.packages .header__packages-subtitle:not(:last-child) {
  margin-bottom: 57px;
}

.packages .header__packages-billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.packages .header__packages-billing._active .switcher__item-button {
  left: 54px;
}

.packages .billing__item {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  text-align: center;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.packages .billing__item._active {
  color: #b00000;
}

.packages .billing__item span {
  padding: 7px 8px;
  font-weight: 500;
  font-size: 10px;
  line-height: 90%;
  text-align: center;
  color: #000000;
  background: #ffe87a;
  border-radius: 8px;
  margin-left: 17px;
}

.packages .billing__item-switcher {
  cursor: pointer;
  width: 93px;
  height: 50px;
  background: #b00000;
  border-radius: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 9px;
  position: relative;
}

.packages .switcher__item-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #ffffff;
  position: absolute;
  top: 10px;
  left: 9px;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.section__customers {
  padding-top: 105px;
  padding-bottom: 84px;
  position: relative;
}

.customers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.customers__info {
  position: absolute;
  top: 161px;
  margin-left: 95px;
  max-width: 445px;
}

.customers__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 133%;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}

.customers__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}

.customers__item {
  position: relative;
  padding: 40px 32px 40px 64px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
          box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
}

.customers__item:nth-child(2) {
  margin-top: 130px;
  margin-left: 222px;
  padding-bottom: 100px;
}

.customers__image {
  position: relative;
}

.customers .body__right {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.customers .item__customers-logo:not(:last-child) {
  margin-bottom: 15px;
}

.customers .item__customers-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.customers .item__customers-text:not(:last-child) {
  margin-bottom: 24px;
}

.customers .item__customers-text:first-child {
  max-width: 350px;
}

.customers .item__customers-author {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #18191F;
}

.customers .item__customers-position {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 171%;
  -webkit-font-feature-settings: "salt" on, "liga" off;
          font-feature-settings: "salt" on, "liga" off;
  color: #969bab;
}

.customers .item__customers-right:nth-child(1) {
  padding-bottom: 14px;
  margin-right: 113px;
}

.customers .item__customers-right:nth-child(2) {
  padding-bottom: 32px;
  margin-top: unset;
  margin-left: unset;
  margin-right: 176px;
}

.customers .item__customers-right:nth-child(2) .item__customers-text {
  max-width: 230px;
}

.customers .icon__pseudo {
  position: absolute;
  top: 100px;
  left: 16px;
}

.section__awesome {
  position: relative;
  padding-top: 46px;
  padding-bottom: 88px;
}

.awesome__container {
  position: relative;
}

.awesome__content {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awesome__title {
  max-width: 900px;
  font-weight: 600;
  font-size: 64px;
  line-height: 138%;
  text-align: center;
  color: #2e2e2e;
}

.awesome__title:not(:last-child) {
  margin-bottom: 40px;
}

.awesome__btn {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #ffffff;
  background: #b00000;
  border-radius: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 9px;
}

.awesome__btn:hover {
  background-color: #da0505;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.decor1,
.decor2,
.decor3 {
  position: absolute;
}

.decor1 {
  left: 0;
  bottom: 0;
}

.decor2 {
  top: 0px;
  left: 412px;
}

.decor3 {
  bottom: -48px;
  right: 0;
}

.footer {
  padding: 64px 0px 80px 0px;
  background: #b00000;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 23px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
}

.footer__item:last-child {
  gap: 120px;
}

.footer__item-logo:not(:last-child) {
  margin-bottom: 16px;
}

.footer__item-subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #e6e6e6;
}

.footer__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.footer__label:not(:last-child) {
  margin-bottom: 24px;
}

.footer__copy {
  padding-top: 104px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #ffffff;
}

.footer .menu__footer-item:not(:last-child) {
  margin-bottom: 24px;
}

.footer .menu__footer-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #e6e6e6;
}

.footer .menu__footer-link:hover {
  text-decoration: underline;
}

html,
body {
  height: 100%;
  font-family: Poppins;
  color: #000000;
  font-size: 15px;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1249.99px) {
  .section__tabs .tabs__content {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .cloud__item-image img {
    max-width: 100%;
  }

  .cloud .text__title {
    font-size: 40px;
  }

  .cloud .text__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .services__body {
    gap: 30px;
  }

  .customers__info {
    margin-left: 0px;
  }

  .customers__item:nth-child(2) {
    margin-left: 0px;
    padding-bottom: 32px;
  }

  .customers .body__right {
    margin-top: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .customers .item__customers-right:nth-child(1) {
    margin-right: 0px;
  }

  .customers .item__customers-right:nth-child(2) {
    margin-right: 0px;
  }
}

@media (max-width: 1160px) {
  .footer__item:last-child {
    gap: 65px;
  }
}

@media (max-width: 1150px) {
  .packages__pricing .tabs__content-item {
    gap: 50px;
  }
}

@media (max-width: 1080px) {
  .packages__pricing .tabs__content-box {
    padding: 34px 25px 48px 25px;
  }
}

@media (max-width: 1050px) {
  .header .menu__item:first-child {
    margin: 0px 35px 0px 35px;
  }

  .services__body {
    gap: 15px;
  }
}

@media (max-width: 1049.99px) {
  .section__tabs .tabs__content-title {
    font-size: 55px;
  }

  .section__tabs .tabs__image img {
    max-width: 400px;
  }
}

@media (max-width: 991.98px) {
  .header {
    padding: 5px 0px;
  }

  .section__tabs {
    padding-top: 35px;
  }

  .section__tabs .tabs__content-item {
    padding-top: 20px;
  }

  .section__tabs .tabs__content-title:not(:last-child) {
    margin-bottom: 15px;
  }

  .section__tabs .tabs__content-title {
    font-size: 35px;
  }

  .section__tabs .tabs__content-subtitle:not(:last-child) {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 130%;
  }

  .section__tabs .tabs__image img {
    max-width: 350px;
  }

  .section__cloud {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .cloud__item-image {
    text-align: center;
  }

  .section__services {
    padding: 0px 0px 35px 0px;
  }

  .services__body {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px;
  }

  .packages__pricing .tabs {
    margin-top: 50px;
  }

  .packages__pricing .tabs__header-item {
    font-size: 22px;
  }

  .packages__pricing .tabs__content {
    margin-top: 50px;
  }

  .packages__pricing .tabs__content-item {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .packages__pricing .tabs__content-box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  .packages .header__packages-item {
    padding-bottom: 35px;
  }

  .packages .header__packages-title:not(:last-child) {
    margin-bottom: 20px;
  }

  .packages .header__packages-title {
    font-size: 38px;
  }

  .packages .header__packages-subtitle:not(:last-child) {
    margin-bottom: 25px;
  }

  .packages .header__packages-billing {
    gap: 10px;
  }

  .packages .billing__item {
    font-size: 20px;
  }

  .packages .billing__item-switcher {
    width: 83px;
    height: 40px;
  }

  .packages .switcher__item-button {
    width: 20px;
    height: 20px;
  }

  .customers__info {
    max-width: 410px;
  }

  .customers__title {
    font-size: 38px;
    line-height: 110%;
  }

  .customers__item {
    padding: 40px 10px 40px 60px;
  }

  .section__awesome {
    padding-top: 0px;
  }

  .awesome__title {
    font-size: 50px;
  }

  .footer {
    padding: 40px 0px 40px 0px;
  }

  .footer__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__item:first-child {
    max-width: 100%;
  }

  .footer__item:last-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__item-subtitle {
    text-align: center;
  }

  .footer__copy {
    padding-top: 60px;
  }
}

@media (max-width: 876.98px) {
  .header .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 227, 227);
    padding: 100px 30px 30px 30px;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    overflow: auto;
    z-index: 10;
  }

  .header .menu__body._active:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header .menu__body._active {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }

  .header .menu__item:first-child {
    margin: 0px;
  }

  .header .menu__item {
    margin: 0px;
  }

  .header .menu__link {
    font-size: 25px;
  }

  .header .menu__icon {
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 5;
    display: block;
    cursor: pointer;
  }

  .header .menu__icon .span,
  .header .menu__icon::after,
  .header .menu__icon::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #b00000;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .header .menu__icon::after,
  .header .menu__icon::before {
    content: "";
  }

  .header .menu__icon::after {
    bottom: 0;
  }

  .header .menu__icon::before {
    top: 0;
  }

  .header .menu__icon .span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .header .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .header .menu__icon._active::after {
    bottom: 40%;
    -webkit-transform: rotate(-45deg) translate(0px, -70%);
        -ms-transform: rotate(-45deg) translate(0px, -70%);
            transform: rotate(-45deg) translate(0px, -70%);
  }

  .header .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(40deg) translate(0px, 30%);
        -ms-transform: rotate(40deg) translate(0px, 30%);
            transform: rotate(40deg) translate(0px, 30%);
  }

  .header .effect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
  }
}

@media (max-width: 767.98px) {
  .section__tabs .tabs__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section__tabs .tabs__header::after {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .section__tabs .tabs__header-item {
    font-size: 22px;
  }

  .section__tabs .tabs__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }

  .section__tabs .tabs__content-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .section__tabs .tabs__content-subtitle:not(:last-child) {
    margin-bottom: 35px;
  }

  .section__tabs .tabs__content-subtitle:not(:last-child) {
    max-width: 100%;
  }

  .section__tabs .tabs__content__buttons {
    padding-bottom: 15px;
  }

  .section__tabs .tabs__image {
    width: 100%;
  }

  .section__tabs .tabs__image img {
    max-width: 100%;
    width: 100%;
  }

  .section__tabs .tabs .btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section__cloud {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .cloud__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cloud__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .cloud__item:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 25px;
  }

  .cloud .text__title {
    text-align: center;
  }

  .cloud .text__title:not(:last-child) {
    margin-bottom: 20px;
  }

  .cloud .text__subtitle.subtitle-cloud2 {
    max-width: 100%;
  }

  .section__packages {
    padding-top: 35px;
  }

  .packages__pricing .tabs__content-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .packages__pricing .tabs .box__content-text {
    max-width: 100%;
  }

  .section__customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .customers__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .customers__info {
    max-width: 100%;
    top: 100px;
  }

  .customers__item:nth-child(2) {
    margin-top: 60px;
  }

  .customers__item {
    padding: 20px 10px 20px 50px;
  }

  .customers__image {
    opacity: 0.6;
  }

  .customers .item__customers-text {
    line-height: 150%;
  }

  .awesome__title {
    max-width: 100%;
    font-size: 40px;
    line-height: 110%;
  }

  .decor2 {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 20px;
  }
}

@media (max-width: 766.98px) {
  .section__tabs .tabs__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .section__tabs .tabs .btn__first {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .section__tabs .tabs .btn__outline {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .section__cloud {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .section__cloud.section__coud2 {
    padding-bottom: 0px;
  }

  .cloud__item:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 20px;
  }

  .services__body {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }

  .section__packages {
    padding-top: 0px;
  }

  .packages__pricing .tabs {
    margin-top: 35px;
  }

  .packages__pricing .tabs__content {
    margin-top: 35px;
  }

  .packages .header__packages-item {
    padding-bottom: 0px;
  }

  .section__customers {
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .customers__info {
    top: 50px;
  }

  .customers__image {
    opacity: 0.3;
  }

  .footer {
    padding: 35px 0px 35px 0px;
  }

  .footer__item-column {
    min-width: 140px;
  }

  .footer__copy {
    padding-top: 35px;
  }

  .footer .menu__footer-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 476px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .contact {
    display: none;
  }

  .header .contact._active {
    content: "";
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section__tabs .tabs .btn {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
  }

  .section__tabs .tabs .btn__first {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .section__tabs .tabs .btn__outline {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .services__body {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px;
  }

  .packages .billing__item:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .packages .billing__item span {
    margin-left: 0px;
    margin-top: 10px;
  }

  .section__awesome {
    padding-bottom: 60px;
  }

  .awesome__content {
    padding-top: 60px;
  }

  .awesome__btn {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .decor1 {
    bottom: -60px;
  }

  .decor2 {
    top: 40px;
  }

  .decor3 {
    bottom: -60px;
  }
}

@media (max-width: 380px) {
  .footer__item:last-child {
    -webkit-column-gap: 5px;
       -moz-column-gap: 5px;
            column-gap: 5px;
    row-gap: 51px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 320px) {
  .header .contact__account {
    padding-right: 10px;
  }

  .header .contact__body {
    padding-left: 10px;
  }
}