*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("../../build/fonts/Raleway-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../../build/fonts/Raleway-Medium.woff");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../../build/fonts/Raleway-Bold.woff");
  font-weight: 700;
}

._lock {
  overflow: hidden;
}

._container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  font-family: Raleway;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  background-color: #dde4ce;
  height: 100%;
  letter-spacing: 1px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section-skills {
  padding-top: 100px;
}

/*==============  HEADER  ===========  */

.header__body {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.header__image {
  padding: 0px 15px 0px 15px;
}

.header__image img {
  width: 200px;
  height: 275px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px;
}

.header__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

.header__contacts {
  padding-top: 40px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

.title:not(:last-child) {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
}

.text {
  font-size: 18px;
  font-weight: 700;
}

.text:not(:last-child) {
  margin-bottom: 21px;
}

.text span {
  font-weight: 700;
}

.textInfo {
  font-weight: 400;
}

/*==============  HEADER  ===========  */

/*==============  MAIN  ===========  */

main {
  flex: 1 1 auto;
}

/*==============  MAIN  ===========  */

/*==============  accordion  ===========  */

.skills__accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills__accordion .accordion {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
  color: #444;
  cursor: pointer;
  padding: 24px;
  width: 62%;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.skills__accordion .accordion:not(:last-child) {
  margin-bottom: 16px;
}

.skills__accordion .accordion__item {
  width: 100%;
}

.skills__accordion .accordion__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__accordion .accordion__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: "666666";
}

.skills__accordion .panel {
  padding: 0px 28px 0px 0px;
  max-height: 0;
  overflow: hidden;
  color: black;
  transition: max-height 0.2s ease-out;
}

.skills__accordion .panel ul {
  margin-top: 14px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 190%;
  letter-spacing: 0.02em;
  color: rgba(0, 23, 49, 0.55);
}

.skills__accordion .panel a {
  color: rgba(0, 23, 49, 0.55);
}

.skills__accordion .panel a:hover {
  text-decoration: underline;
  color: rgb(8, 34, 58);
}

.skills__accordion .panel p {
  margin-top: 14px;
  font-weight: 500;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 1px;
}

.accordion__content::after {
  content: url("../images/plus.svg");
}

.accordion__content.active::after {
  content: url("../images/minus.png");
}

/*==============  accordion  ===========  */

/*==============  footer  ===========  */

.footer__column {
  padding: 40px;
}

.footer__label {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.footer__label:not(:last-child) {
  margin-bottom: 15px;
}

.menu-footer__list {
  gap: 20px;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.menu-footer__item {
  color: black;
}

.contacts-footer__item {
  font-weight: 400;
  color: black;
}

.contacts-footer__item:hover {
  text-decoration: underline;
  color: rgb(8, 34, 58);
}

/*==============  footer  ===========  */

@media (max-width: 767.98px) {
  .section-skills {
    padding-top: 60px;
  }

  .header__body {
    flex-wrap: wrap-reverse;
    padding: 0px;
  }

  .header__info {
    margin-bottom: 30px;
    padding: 0px;
    width: 100%;
  }

  .header__about {
    padding-bottom: 20px;
    text-align: center;
  }

  .header__contacts {
    padding-top: 20px;
  }

  .text {
    padding: 0px;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .skills__accordion .accordion {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .section-skills {
    padding-top: 20px;
  }

  .skills__accordion .accordion {
    padding: 15px;
  }

  .skills__accordion .accordion__text {
    font-size: 17px;
  }

  .footer__column {
    padding: 20px 0px 20px 0px;
  }

  .menu-footer__list {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 391px) {
  .textInfo {
    font-size: 16px;
    padding: 0px 0px 0px 5px;
  }
}

@media (max-width: 390px) {
  .text {
    font-size: 15px;
  }
}