@import "base/reset";
@import "base/mixins";
@import "base/var";
@import "fonts";
@import "global";

body {
  font-family: Raleway;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  background-color: #dde4ce;
  height: 100%;
  letter-spacing: 1px;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.section-skills {
  padding-top: 100px;
  @include md {
    padding-top: 60px;
  }
  @include sm {
    padding-top: 20px;
  }
}

/*==============  HEADER  ===========  */
.header {
  &__body {
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    @include md {
      flex-wrap: wrap-reverse;
      padding: 00px;
    }
  }

  &__image {
    padding: 0px 15px 0px 15px;
    img {
      width: 200px;
      height: 275px;
      border-radius: 10px;
      box-shadow: 5px 5px 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    @include md {
      margin-bottom: 30px;
      padding: 0px;
      width: 100%;
    }
  }

  &__about {
    @include md {
      padding-bottom: 20px;
      text-align: center;
    }
  }

  &__contacts {
    padding-top: 40px;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    @include md {
      padding-top: 20px;
    }
  }
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
}

.text {
  font-size: 18px;
  font-weight: 700;
  &:not(:last-child) {
    margin-bottom: 21px;
  }
  span {
    font-weight: 700;
  }
  @include md {
    padding: 0px;
  }
  @media (max-width: 390px) {
    font-size: 15px;
  }
}

.aboutMe {
  @include md {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
.textInfo {
  font-weight: 400;
  @media (max-width: 391px) {
    font-size: 16px;
    padding: 0px 0px 0px 5px;
  }
}

/*==============  HEADER  ===========  */

/*==============  MAIN  ===========  */

main {
  flex: 1 1 auto;
}

/*==============  MAIN  ===========  */

/*==============  accordion  ===========  */

.skills {
  &__accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    .accordion {
      border: 1px solid #e5e5e5;
      border-radius: 12px;
      box-shadow: 0px 4px 15px rgba(10, 21, 39, 0.1);
      color: #444;
      cursor: pointer;
      padding: 24px;
      width: 62%;
      display: flex;
      align-items: center;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      @include md {
        width: 100%;
      }
      @include sm {
        padding: 15px;
      }
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &__item {
        width: 100%;
      }
      &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__text {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: $secondary;
        @include sm {
          font-size: 17px;
        }
      }
    }
    .panel {
      padding: 0px 28px 0px 0px;

      max-height: 0;
      overflow: hidden;
      color: black;
      transition: max-height 0.2s ease-out;
      ul {
        margin-top: 14px;
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 190%;
        letter-spacing: 0.02em;
        color: rgba(0, 23, 49, 0.55);
      }
      a {
        color: rgba(0, 23, 49, 0.55);
        &:hover {
          text-decoration: underline;
          color: rgb(8, 34, 58);
        }
      }

      p {
        margin-top: 14px;
        font-weight: 500;
        line-height: 1.5;
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }
}
.accordion__content {
  &::after {
    content: url("../images/plus.svg");
  }
  &.active::after {
    content: url("../images/minus.png");
  }
}

/*==============  accordion  ===========  */

/*==============  footer  ===========  */

.footer {
  &__column {
    padding: 40px;
    @include sm {
      padding: 20px 0px 20px 0px;
    }
  }

  &__label {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.menu-footer {
  &__list {
    gap: 20px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    color: black;
  }
}

.contacts-footer {
  &__item {
    font-weight: 400;
    color: black;
    &:hover {
      text-decoration: underline;
      color: rgb(8, 34, 58);
    }
  }
}

/*==============  footer  ===========  */
