@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body {
  font-family: sans-serif;
}

body.locked {
  overflow: hidden;
}

body.dark {
  background: #242424;
}

.premium-btn {
  background: #ffe26e;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.premium-btn:hover {
  background-color: #ffd52d;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top:not(:last-child) {
  margin-bottom: 60px;
}

.title {
  font-size: clamp(20px, 5vw, 48px);
}

/* Стилізація всього скролбару */

::-webkit-scrollbar {
  width: 5px;
  /* Ширина скролбару */
}

/* Колір фону треку (доріжки) */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Колір повзунка (самого скролу) */

::-webkit-scrollbar-thumb {
  background: #ffd52d;
  /* Помаранчевий колір */
  border-radius: 3px;
}

.topBox {
  opacity: 0;
  position: fixed;
  min-height: 55px;
  min-width: 55px;
  background: rgba(255, 226, 110, 0.9);
  /* Легка прозорість */
  border-radius: 15px;
  /* М'якші кути */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 30px;
  bottom: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 4px 10px rgba(255, 226, 110, 0.3);
          box-shadow: 0px 4px 10px rgba(255, 226, 110, 0.3);
  /* Додаємо тінь */
  /* Ефект при наведенні */
  /* Анімація появи */
}

.topBox:hover {
  background: #ffcc00;
  /* Яскравіший колір */
  -webkit-box-shadow: 0px 4px 15px rgba(255, 204, 0, 0.7);
          box-shadow: 0px 4px 15px rgba(255, 204, 0, 0.7);
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
  /* Легке підняття */
}

.topBox.visible {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.topBox svg {
  width: 18px;
  height: 18px;
  fill: #000;
  /* Чорна стрілка */
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.topBox:hover svg {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  /* Легка зміна розміру */
}

.topBox._active {
  z-index: 3;
  opacity: 0.7;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh + 55px);
  /* Висота на весь екран */
  position: relative;
  padding: 0px 15px;
}

.header {
  background: #1a1919;
  -webkit-box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
          box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  color: #fff;
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  font-size: 25px;
  font-weight: 700;
  color: white;
}

.logo a span {
  color: #ffd52d;
}

.logo.mobile {
  display: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
}

.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  background: #131418;
  height: 1px;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  -o-transition: 0.5s transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
  display: none;
}

.menu__item-link:hover {
  color: #ffd52d;
}

.menu__item-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu .menu__item-link.active {
  color: #ffd52d;
  /* Змінюємо колір активного посилання */
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: calc(100vh + 55px);
  overflow: hidden;
  padding: 30px 0px;
}

.home .container {
  position: relative;
  z-index: 2;
  width: 100%;
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.home__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.home__title {
  font-size: clamp(20px, 5vw, 58px);
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
}

.home__title span {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__picture {
  width: 350px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__picture img {
  width: 100%;
  max-width: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-mask-image: radial-gradient(circle, white 50%, rgba(255, 255, 255, 0) 100%);
          mask-image: radial-gradient(circle, white 50%, rgba(255, 255, 255, 0) 100%);
}

.about {
  position: relative;
  padding-bottom: 100px;
  padding-top: 150px;
  /* 50px — це висота header */
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__picture img {
  max-width: 100%;
  border-radius: 10px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.about__content.animate {
  -webkit-animation: fadeOut 1s ease-in-out forwards;
          animation: fadeOut 1s ease-in-out forwards;
}

.skills {
  padding-bottom: 100px;
  padding-top: 120px;
  /* 50px — це висота header */
  /* Загальна стилізація для анімованої рамки */
  /* Верхня лінія */
  /* Права лінія */
  /* Нижня лінія */
  /* Ліва лінія */
  /* Анімація при наведенні */
}

.skills__rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.skills__column {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff59;
  height: 100%;
  gap: 20px;
  position: relative;
  overflow: hidden;
}

.skills__column img {
  max-width: 100%;
  width: 70px;
}

.skills__title {
  font-size: 25px;
  font-weight: 700;
}

.skills .skills__column::before,
.skills .skills__column::after,
.skills .skills__column .border-bottom,
.skills .skills__column .border-left {
  content: "";
  position: absolute;
  background: yellow;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.skills .skills__column::before {
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
}

.skills .skills__column::after {
  top: 0;
  right: 0;
  width: 1px;
  height: 0;
}

.skills .skills__column .border-bottom {
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  position: absolute;
}

.skills .skills__column .border-left {
  bottom: 0;
  left: 0;
  width: 1px;
  height: 0;
  position: absolute;
}

.skills .skills__column:hover::before {
  width: 100%;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
}

.skills .skills__column:hover::after {
  height: 100%;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.skills .skills__column:hover .border-bottom {
  width: 100%;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.skills .skills__column:hover .border-left {
  height: 100%;
  -webkit-transition-delay: 0.7s;
       -o-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.progress__box {
  width: 100%;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background: #ffd52d;
  width: 0%;
}

.projects {
  position: relative;
  padding-bottom: 100px;
  padding-top: 120px;
  /* 50px — це висота header */
}

.projects__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.projects__column {
  position: relative;
  display: inline;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 5px;
  overflow: hidden;
}

.projects__column img {
  max-width: 100%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projects__column:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.projects__column::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background-color: rgba(255, 213, 45, 0.8);
  z-index: 1;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projects__column:hover::after {
  height: 30px;
}

.projects__column:hover .projects__text {
  bottom: 0px;
  opacity: 1;
}

.projects__column img {
  max-width: 100%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.projects__text {
  position: absolute;
  bottom: -30px;
  left: 50%;
  font-size: 18px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #000;
  z-index: 2;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.contact {
  padding-bottom: 60px;
  padding-top: 120px;
}

.contact .container {
  max-width: 500px;
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form__input {
  padding: 20px;
  border-radius: 5px;
  outline: 2px solid transparent;
  background-color: #857f7f40;
  color: #fff;
}

.form__input:focus {
  outline: 2px solid #ffd52d;
}

.form__textarea {
  resize: none;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  outline: 2px solid transparent;
  background-color: #857f7f40;
  color: #fff;
  height: 180px;
}

.form__textarea:focus {
  outline: 2px solid #ffd52d;
}

.form__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.social__link img {
  max-width: 100%;
  width: 30px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.social__link img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.select {
  position: relative;
}

.select__header {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select__current {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  color: #fff;
  padding: 8px;
}

.select__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  margin-left: auto;
  text-align: center;
  padding: 7px 0px 7px 8px;
}

.select__body {
  border-radius: 10px;
  background: #ffe26e;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}

.select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #000;
}

.select__item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.select__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.select__item:hover {
  background-color: #857f7f40;
}

.opacity {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.6px;
  font-weight: 400;
  line-height: 1.4;
  font-size: 18px;
  color: #f0f0f0;
  line-height: 1.4;
  background-color: #000;
  scroll-behavior: smooth;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

[class*=container] {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.home canvas {
  position: absolute;
  width: 100%;
  height: calc(100vh - 55px);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 768px) {
  .header {
    -webkit-animation: fade 1s ease-in-out forwards;
            animation: fade 1s ease-in-out forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    opacity: 0;
  }
}

@media (max-width: 1100px) {
  .about__body {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

@media (max-width: 991.98px) {
  .top:not(:last-child) {
    margin-bottom: 30px;
  }

  .logo {
    display: none;
  }

  .logo.mobile {
    display: block;
  }

  .menu__item-link {
    font-size: 26px;
  }

  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
  }

  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: all;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    -webkit-animation: fade 0.1s linear;
            animation: fade 0.1s linear;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;
  }

  .burger.active:before {
    background: #ffd52d;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    top: 8px;
  }

  .burger.active:after {
    background: #ffd52d;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger:before,
  .burger:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffd52d;
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .burger:before {
    top: 0;
  }

  .burger::after {
    bottom: 0;
  }

  .burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    background: #ffd52d;
    height: 2px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  }

  .about {
    padding-top: 90px;
    padding-bottom: 60px;
    height: 100%;
  }

  .about__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
  }

  .about__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .about__picture {
    text-align: center;
  }

  .about__picture img {
    max-width: 500px;
  }

  .skills {
    padding-top: 90px;
    padding-bottom: 60px;
    height: 100%;
  }

  .skills__rows {
    gap: 20px;
  }

  .skills__column {
    gap: 10px;
  }

  .skills__column img {
    width: 50px;
  }

  .skills__title {
    font-size: 20px;
  }

  .projects {
    padding-top: 90px;
    padding-bottom: 60px;
    height: 100%;
  }

  .contact {
    padding-top: 90px;
    padding-bottom: 30px;
    height: unset;
  }

  .contact__social {
    gap: 30px;
  }

  .select {
    margin-left: auto;
    margin-right: 15px;
  }

  .home canvas {
    pointer-events: none;
  }
}

@media (max-width: 767.98px) {
  .home__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    gap: 30px;
  }

  .projects__row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .topBox {
    right: 30px;
    bottom: 30px;
    min-height: 48px;
    min-width: 48px;
  }

  .menu {
    gap: 30px;
  }

  .home__picture {
    margin-top: 20px;
  }

  .home__picture img {
    max-width: 100%;
    width: 100%;
  }

  .about {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .about__body {
    gap: 30px;
  }

  .about__picture img {
    max-width: 100%;
  }

  .skills {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .skills__rows {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__column img {
    width: 40px;
  }

  .projects {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .projects__row {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact {
    padding-top: 80px;
  }
}