@import url(../css/reset.css);
@import url(../css/fonts.css);
@import url(../css/dropMenu.css);

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 100vh;
  background-color: #020a18;
  width: 100%;
  overflow: hidden;
}
.logo {
  cursor: pointer;
}

.logo_sm_button {
  display: none;
}

.image_small {
  display: none;
}

.nav-menu-large {
  height: 100px;
  display: flex;
  position: fixed;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #091324;
  overflow: hidden;
  z-index: 1;
}

.nav-menu {
  display: none;
}

.ul_header {
  display: flex;
}

.li_header {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
}

.a_header {
  font-family: "Roboto_light";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
}

.li_sign {
  margin-left: 100px;
}

.li_header:hover,
.li_sign:hover {
  background-color: #3a68b8;
  border-radius: 5px;
  transition: all 0.3s;
}

.content_header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px auto;
  width: 1285px;
  height: 677px;
}
.block_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 603px;
  height: 420px;
}

.up_title {
  font-family: "Roboto_light";
  font-style: normal;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;
  color: #3a68b8;
  letter-spacing: 1px;
}
.h1 {
  font-family: "Roboto_regular";
  font-style: normal;
  font-weight: bold;
  font-size: 62px;
  line-height: 130%;
  color: #ffffff;
  letter-spacing: 1px;
}

.p_header {
  font-family: "Roboto_medium";
  font-size: 15px;
  line-height: 160%;
  color: #ffffff;
  letter-spacing: 1px;
  opacity: 0.7;
}

.block_button_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 410px;
  height: 75px;
}

.button_1,
.button_logo {
  width: 150px;
  height: 52px;
  background: #3a68b8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 52px;
  background: #3a68b8;
  border-radius: 5px;
}

.a_button_header,
.a_button_header_1 {
  font-family: "Roboto_medium";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 52px;
}
.a_button_header_1 {
  width: 180px;
}

.button_1:hover,
.button_2:hover,
.button_logo:hover {
  background-color: #324297;
  transition: 0.3s;
}

.image_right {
  margin-left: 49px;
}

.block_logos {
  height: 180px;
  cursor: pointer;
  width: 1237px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logosLeft,
.logosRight {
  display: flex;
  justify-content: space-between;
  width: 570px;
}

.section_one {
  min-height: 100vh;
  width: 100%;
  background-color: #020a18;
  overflow: hidden;
}

.content_main_one {
  width: 1285px;
  height: 700px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block_text_main_one {
  margin-left: 30px;
  width: 485px;
  height: 330px;
}
.h1_mainTitle {
  font-family: "Roboto_light";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 130%;
  text-align: justify;
  color: #ffffff;
}

.p_mainSubtitle {
  width: 460px;
  margin-top: 30px;
  font-family: "Roboto_medium";
  font-size: 15px;
  line-height: 160%;
  color: #ffffff;
  letter-spacing: 1px;
  opacity: 0.7;
}

.button_main_one {
  margin-top: 50px;
}
.button_mainOne {
  width: 150px;
  height: 52px;
  background: #3a68b8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_mainOne:hover {
  background-color: #324297;
  transition: 0.3s;
}
.a_mainOne {
  font-family: "Roboto_medium";
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 52px;
}
.section_two {
  min-height: 60vh;
  width: 100%;
  background-color: #020a18;
  overflow: hidden;
}

.content_main_two {
  width: 100%;
  height: auto;
}
.box_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 340px;
  height: 400px;
  background-color: rgb(96 125 139 / 15%);
  border-radius: 15px;
  overflow: hidden;
}

.box:hover {
  background-color: rgb(96 125 139 / 34%);
  transition: 0.03s;
}
.icon_section_two {
  width: 60px;
}
.h1_section_two {
  font-family: "Roboto_light";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: #ffffff;
  opacity: 0.7;
  text-align: center;
}

.p_subtitle_two {
  width: 83%;

  font-family: "Roboto_medium";
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  letter-spacing: 1px;
  opacity: 0.7;
  text-align: justify;
}

.section_three {
  min-height: 80vh;
  width: 100%;
  background-color: #020a18;
  overflow: hidden;
}

.container_main_three {
  width: 100%;

  display: flex;
  justify-content: center;
}

.box_container_three {
  display: flex;
  width: 1285px;
  height: 560px;
}

.box_text_three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
  height: 470px;
}
.h1_box_three {
  font-family: "Roboto_light";
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 130%;
  color: #ffffff;
}

.p_box_three {
  width: 470px;
  font-family: "Roboto_medium";
  font-size: 15px;
  line-height: 160%;
  color: #ffffff;
  letter-spacing: 1px;
  opacity: 0.7;
}

.footer {
  flex: 0 0 auto;
  padding: 0 30px;
  width: 100%;
  height: 500px;
  background-color: #020a18;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container_footer {
  display: flex;
  justify-content: space-between;
  width: 1285px;
  height: 280px;
}

.block_footer_one {
  width: 270px;
  height: 280px;
}

.h1_footer {
  font-family: "Roboto_light";
  font-style: normal;
  font-weight: 600;
  font-size: 15.9627px;
  line-height: 22px;

  color: #3a68b8;
}

.p_footer {
  margin-top: 20px;
  font-family: "Roboto_medium";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
  letter-spacing: 1px;
}

.block_left_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ul_footer {
  margin-top: 30px;
  height: 92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block_footer_two {
  width: 520px;
}

.block_middle_footer {
  display: flex;
  justify-content: space-between;
}

.ul_middle_footer,
.h1_footer_last {
  font-family: "Roboto_light";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.a_footer {
  font-family: "Roboto_light";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
}

.ul_middle_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
}

.block_footer_three {
  width: 260px;
}
.block_right_footer_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 157px;
}

.p_footer_last {
  font-family: "Roboto_medium";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.6;
}

.icons_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 1440px) {
  .content_header {
    width: 90%;
    justify-content: space-evenly;
  }

  .block_text {
    width: 572px;
  }
  .h1 {
    font-size: 58px;
  }
  .li_sign {
    margin-left: 60px;
  }

  .image_header {
    width: 500px;
    height: 500px;
  }

  .block_logos {
    width: 90%;

    align-items: flex-end;
  }
  .logosLeft,
  .logosRight {
    width: 534px;
  }
  .logos_header {
    width: 200px;
    height: 52px;
  }

  .content_main_one {
    width: 86%;
  }
  .image_mainOne {
    width: 650px;
  }
  .block_text_main_one {
    width: 43%;
  }
  .h1_mainTitle {
    font-size: 40px;
    text-align: unset;
  }
  .box{
    margin-top: 20px;
  }
  .box_container_three {
    width: 90%;
  }
}

@media screen and (max-width: 1240px) {
  .image_large {
    display: none;
  }
  .image_small {
    display: block;
  }

  .content_header {
    width: 90%;
  }
  .block_text {
    width: 300px;
    justify-content: space-evenly;
    margin-top: 60px;
  }

  .h1 {
    font-size: 30px;
  }

  .p_header {
    width: 400px;
    opacity: unset;
  }

  .logos_header {
    width: 160px;
  }

  .block_logos {
    width: 84%;
  }

  .logosLeft,
  .logosRight {
    width: 430px;
  }
  .content_main_one {
    width: 80%;
  }
  .block_text_main_one {
    width: 429px;
  }
  .h1_mainTitle {
    font-size: 32px;
  }

  .image_mainOne {
    width: 460px;
  }

  .p_mainSubtitle {
    width: 96%;
  }
  .box{
    margin-top: 20px;
  }

  .box_container_three {
    width: 80%;
  }
  .h1_box_three {
    font-size: 32px;
  }
  .image_three {
    width: 460px;
  }
  .container_footer {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .li_header {
    width: 105px;
  }
  .nav-menu-large {
    height: 70px;
  }
  .li_sign {
    margin-left: 29px;
  }
  .content_header {
    width: 100%;
  }
  .block_text {
    width: 572px;
    align-items: center;
  }

  .up_title {
    font-size: 30px;
  }

  .p_header {
    width: 533px;
    opacity: unset;
  }
  .block_button_header {
    width: 540px;
  }
  .image_right {
    display: none;
  }
  .block_logos {
    width: 55%;
    align-items: center;
  }
  .logosLeft,
  .logosRight {
    width: 165px;
    height: 148px;

    flex-direction: column;
  }
  .content_main_one {
    flex-direction: column;
    height: 755px;
  }

  .block_text_main_one {
    width: 78%;
  }

  .p_mainSubtitle {
    width: 100%;
    opacity: unset;
  }
  .image_mainOne {
    width: 360px;
  }
  .button_main_one {
    display: flex;
    justify-content: center;
  }
  .box_container_three {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 20px;
  }
  .section_three {
    min-height: 70vh;
  }
  .box_image_three {
    margin-top: 30px;
  }

  .box_text_three {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    height: auto;
  }
  .p_box_three {
    margin-top: 10px;
    text-align: justify;
    width: 100%;
  }
  .image_three {
    width: 360px;
  }

  .footer {
    height: auto;
  }
  .container_footer {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .block_footer_one,
  .block_footer_two,
  .block_footer_three {
    width: 100%;
  }
  .block_left_footer {
    align-items: center;
  }
  .h1_footer {
    font-size: 25px;
  }
  .p_footer {
    font-size: 15px;
  }
  .block_footer_two {
    margin-top: 20px;
  }
  .block_middle_footer{
    justify-content: space-around;
  }
  .block_footer_three {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .block_right_footer_top {
    align-items: center;
    justify-content: space-around;
  }
  .icons_footer {
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .logo_sm_button {
    display: block;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
  .nav-menu-large {
    display: none;
  }
  .nav-menu {
    display: block;
  }
  .nav-menu .dropdown {
    position: fixed;
  }
  .content_header {
    width: 100%;
    margin: 80px auto;
  }

  .block_text {
    width: 100%;
    margin-top: 10px;
  }
  .block_button_header {
    width: 80%;
  }

  .button_1 {
    width: 130px;
  }

  .button_2 {
    width: 165px;
  }
  .up_title {
    width: 100%;
    text-align: center;
    line-height: 33px;
  }
  .h1 {
    text-align: center;
    width: 90%;
  }
  .p_header {
    text-align: justify;
    width: 80%;
    opacity: unset;
  }
  .block_logos {
    width: 79%;
    margin-top: 27px;
  }
  .logos_header {
    width: 150px;
    height: 43px;
  }

  .section_one {
    min-height: unset;
  }
  .block_text_main_one {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .h1_mainTitle {
    text-align: center;
    font-size: 30px;
  }
  .p_mainSubtitle {
    text-align: justify;
  }
  .content_main_two {
    height: auto;
  }
  .box {
    margin-top: 20px;
  }
  .container_footer {
    display: unset;
  }
  .block_footer_one {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .block_left_footer {
    align-items: center;
  }
  .image_footer {
    display: flex;
    justify-content: center;
  }
  .ul_middle_footer{
    text-align: center;
  }
}
