* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1160px;
  margin: 0px auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-weight: 700;
  color: #203239;
  font-size: 50px;
  line-height: 150%;
}

.title:not(:last-child) {
  margin-bottom: 20px;
}

.subtitle {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #203239;
  text-align: justify;
  letter-spacing: 0.5px;
}

.subtitle span {
  font-weight: 700;
}

.subtitle:not(:last-child) {
  margin-bottom: 20px;
}

.global-section {
  padding: 100px 0px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
}

.header .menu__icon {
  display: none;
}

.header .menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2;
}

.header .menu__item {
  position: relative;
}

.header .menu__item.sub {
  position: relative;
}

.header .menu__item.sub .menu__item-svg._active {
  fill: #1191c8;
}

.header .menu__item.sub .submenu {
  padding: 0px -15px;
  opacity: 0;
  position: absolute;
  width: 80px;
  left: 0px;
  font-size: 18px;
  top: 25px;
  right: 0px;
  z-index: -1;
  background-color: #eaf1e9;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 10px;
}

.header .menu__item.sub .submenu._active {
  z-index: 3;
  opacity: 1;
}

.header .menu__item.sub .submenu__item {
  width: 100%;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.header .menu__item.sub .submenu__item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header .menu__item.sub .submenu__item:hover {
  background-color: #b9d8cf;
  color: white;
}

.header .menu__item.sub .submenu__item:hover .submenu__link {
  color: #203239;
}

.header .menu__item.sub .submenu__item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.header .menu__item.sub .submenu__link {
  display: inline-block;
  width: 80px;
  padding: 10px;
  color: #203239;
}

.header .menu__link-svg {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header .menu__link-svg._active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

.header .menu__link {
  position: relative;
  color: #203239;
  font-weight: 600;
}

.header .menu__link:hover {
  -webkit-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #1191c8;
}

.header .menu__link:hover::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #1191c8;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .effect {
  display: none;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__item:last-child {
  text-align: center;
}

.about__info {
  font-family: Poppins;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #203239;
  letter-spacing: 0.4px;
}

.units__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.units__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.units__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.units__link {
  color: #1191c8;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.units__link:hover {
  text-decoration: underline;
}

.units__image {
  text-align: center;
}

.units__image img {
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
  max-width: 470px;
}

.section__table {
  padding: 100px 0px 50px 0px;
}

.table {
  width: 100%;
  margin-bottom: 30px;
}

.table__title:not(:last-child) {
  margin-bottom: 40px;
}

.table__name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.table__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

td,
th {
  border: 1px solid #dddddd;
  background: #e9f1e8;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: left;
  padding: 15px;
}

.type1__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.type1__item:not(:last-child) {
  margin-bottom: 50px;
}

.type1__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.type1__title {
  font-size: 38px;
}

.type1__title:not(:last-child) {
  margin-bottom: 10px;
}

.type1__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: unset;
}

.type1__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.type1__image {
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
  max-width: 450px;
}

.type2__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.type2__item:not(:last-child) {
  margin-bottom: 50px;
}

.type2__item:first-child {
  margin-bottom: 0px;
}

.type2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.type2__title {
  font-size: 38px;
}

.type2__title:not(:last-child) {
  margin-bottom: 10px;
}

.type2__subtitle {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: unset;
}

.type2__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.type2__image {
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
  max-width: 100%;
}

.calculator__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.calculator__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.calculator__item:first-child {
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.75);
  padding: 30px;
}

.calculator__item:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.calculator__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calculator__logo-item {
  display: none;
}

.calculator__image {
  max-width: 100%;
}

.form__btnBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.form__btn1 {
  cursor: pointer;
  width: 20%;
  min-height: 50px;
  font-size: 18px;
  background-color: rgb(211, 241, 170);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 5px;
}

.form__btn1:hover {
  background-color: rgb(185, 221, 135);
}

.form__btn2 {
  cursor: pointer;
  width: 20%;
  min-height: 50px;
  font-size: 18px;
  background-color: rgb(211, 241, 170);
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 5px;
}

.form__btn2:hover {
  background-color: rgb(185, 221, 135);
}

.form__resultBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 50%;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.form__input {
  background-color: rgb(230, 251, 200);
}

.form__resultBtn {
  border-radius: 5px;
  min-height: 50px;
  background-color: rgb(211, 241, 170);
  font-size: 22px;
  letter-spacing: 1px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.form__resultBtn:hover {
  background-color: rgb(185, 221, 135);
}

.form__resultBtn._active {
  background-color: rgb(230, 251, 200);
  color: lightgray;
}

.form__result {
  font-size: 50px;
  margin-left: auto;
}

.input {
  border-radius: 5px;
  padding: 0px 0px 0px 20px;
  outline: none;
  min-height: 50px;
  margin-bottom: 20px;
}

.input:focus {
  border: 1px solid rgb(124, 231, 241);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

.form__resultBtn[disabled]:hover {
  background-color: #d3f1aa;
}

html,
body {
  height: 100%;
  font-family: Karla;
  font-weight: 400;
  color: #203239;
  font-size: 18px;
  background-color: #f6fef5;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1159.98px) {
  .calculator__items {
    gap: 30px;
  }

  .calculator__picture {
    text-align: center;
  }

  .form__result {
    font-size: 34px;
  }
}

@media (max-width: 1050px) {
  .about__items {
    gap: 20px;
  }

  .units__items {
    gap: 20px;
  }
}

@media (max-width: 991.98px) {
  .title {
    font-size: 38px;
    line-height: 130%;
  }

  .subtitle {
    text-align: start;
  }

  .global-section {
    padding: 50px 0px;
  }

  .header__items {
    min-height: 60px;
  }

  .header .menu__list {
    gap: 30px;
  }

  .header .menu__link {
    font-size: 17px;
  }

  .about__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
  }

  .about__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .units__items {
    gap: 5px;
  }

  .units__item:last-child {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .type1__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .type1__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }

  .type1__subtitle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .type1__subtitle:not(:last-child) {
    margin-bottom: 10px;
  }

  .type1__picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .type1__image {
    max-width: 400px;
  }

  .type2__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .type2__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }

  .type2__subtitle {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .type2__subtitle:not(:last-child) {
    margin-bottom: 10px;
  }

  .type2__picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .type2__image {
    max-width: 400px;
  }

  .form__btnBox {
    gap: 15px;
  }

  .form__result {
    font-size: 27px;
  }
}

@media (max-width: 767.98px) {
  .subtitle {
    font-size: 17px;
  }

  .global-section {
    padding: 20px 0px;
  }

  .header .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .header .menu__icon .span,
  .header .menu__icon::before,
  .header .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000;
  }

  .header .menu__icon::before,
  .header .menu__icon::after {
    content: "";
  }

  .header .menu__icon::before {
    top: 0;
  }

  .header .menu__icon::after {
    bottom: 0;
  }

  .header .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }

  .header .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .header .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -70%);
        -ms-transform: rotate(-45deg) translate(0px, -70%);
            transform: rotate(-45deg) translate(0px, -70%);
  }

  .header .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(40deg) translate(0px, 30%);
        -ms-transform: rotate(40deg) translate(0px, 30%);
            transform: rotate(40deg) translate(0px, 30%);
  }

  .header .menu__body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f6fef5;
    padding: 100px 30px 30px 30px;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .header .menu__body._active:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header .menu__body._active {
    -webkit-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .header .menu__body._active .menu__logo {
    display: none;
  }

  .header .menu__item.sub .submenu {
    font-size: 20px;
    top: 40px;
    width: 120px;
  }

  .header .menu__item.sub .submenu__item {
    padding: 15px;
  }

  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .menu__list:not(:last-child) {
    margin-bottom: 30px;
    gap: 40px;
  }

  .header .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    gap: 40px;
  }

  .header .menu__link {
    font-size: 25px;
  }

  .header .effect {
    padding: 16px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .units__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .units__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .units__content {
    margin-bottom: 20px;
  }

  .calculator__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .calculator__item:first-child {
    padding: 10px;
    -webkit-box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
  }

  .calculator__item:last-child {
    display: none;
  }

  .calculator__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .calculator__logo-item {
    display: block;
    text-align: center;
    margin-top: 45px;
  }

  .form__btn1 {
    width: 50%;
  }

  .form__btn2 {
    width: 50%;
  }

  .form__resultBox {
    width: 50%;
  }

  .form__btnText {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .units__image img {
    max-width: 100%;
    width: 100%;
  }

  .form__result {
    min-width: 95px;
  }
}

@media (max-width: 476px) {
  .title {
    line-height: 110%;
  }

  .type1__image {
    max-width: 100%;
    width: 100%;
  }

  .type2__image {
    max-width: 100%;
    width: 100%;
  }

  .form__btnBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .form__btn1 {
    width: 100%;
  }

  .form__btn2 {
    width: 100%;
  }

  .form__resultBox {
    width: 100%;
  }

  .form__btnText {
    font-size: 17px;
  }

  .form__result {
    font-size: 40px;
  }
}